.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.post {
    max-width: 46%;
    width: 100%;
    padding: 40px;
    margin: 0 40px 35px 0;
    box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.15);
}

.title {
    margin: 0 0 10px 0;
}

.date {
    color: #969696;
}
